@{
    ViewData["Title"] = "Ingreso";
}
<body>
<header> 
    <h1>Bienvenidos al sitio web de Ahorcado</h1>
    
</header>
<main>
 <div>
     
           <h2><a href='@Url.Action("Inicio", "Home")'>Empieza el juego</a></h2>
     
 </div>
</main>
</body>